h1{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:42px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:44px;
}

h2{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:34px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:44px;
}
img{
    width: 100%;
}
code{
    background-color: #f2f2f2;
    font-family: "Courier New", monospace;
}

#img1 {
    width:7%;
    height: 5%;
    margin: 16px 16px 16px 16px;
}

.shapka {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size:24px;
    color:#333333;
    text-align:left;
    line-height:36px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
}

li {
    float: left;
    margin: 0;
}

li a {
    display: block;
    color: black;
    text-align: center;
    margin: 0;
    padding: 16px;
}

li a:hover {
    margin: 0;
}

#block1{
    margin: 55px 25%;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size:21px;
    color:rgba(0,0,0,0.84);
    text-align:left;
    line-height:33px;
}


@media (max-width: 800px) {
    /* Тут пиши стили для мобилки.
        Стили применятся только когда страничка будет ≤800px шириной
     */
    #img1 {
        width:20%;
        margin: 16px 16px 16px 16px;
        padding-top: 15px;
    }

    li {
        float: none;
        margin-left: 20px;
    }

    li a {
        display: block;
        color: black;
        text-align: left;
        margin: 16px 0;
        padding: 0px;
    }

    #block1 {
        margin: 20px;
    }
    
    .shapka {
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
        font-size:20px;
        color:#333333;
        text-align:left;
        line-height:18px;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        margin: 0;
        width: 100%;
    }
    
    h1{
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
        font-size:26px;
        color:rgba(0,0,0,0.84);
        text-align:left;
        line-height:44px;
    }
    
    h2{
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
        font-size:18px;
        color:rgba(0,0,0,0.84);
        text-align:left;
        line-height:44px;
    }
}